<%
	var projects = [
		{
			name: 'Shopify Magician',
			description: 'Synchronize themes and their assets between your Shopify store and your local machine with a simple user interface',
			link: '/magician'
		}, {
			name: 'QuickLoad.me',
			description: 'Send loads, real fast, real cheap.',
			link: 'http://107.167.188.170/'
		}
	];
%>
<div class="row">
	<% for(i=0;i<projects.length;i++){ var project = projects[i]; %>
		<div class="col-xs-4">
			<div class="thumbnail">
				<div class="caption">
					<h3><a href="<%- project.link %>"><%- project.name %></a></h3>
					<p><%- project.description %></p>
					<a href="<%- project.link %>" class="btn btn-default">Check it out <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	<% } %>
</div>