<h1>So what's this DreamForge thing?</h1>
<p>The idea is to support new start-ups by providing web/software development, server management etc. 100% free of up-front fees. Rather than imposing an up-front cost, we simply take a small slice of the profits. This percentage taken is variably based on the viability of each project, the running/maintenance costs, and the work involved in development.</p>
<p>If you'd like to give it a try, send your ideas to: <a href="mailto:ideas@dreamforge.rocks">ideas@dreamforge.rocks</a></p>