<h1>Blank home page</h1>
<p>This blog hasn't had it's home page set up yet, if you'd like to show the <a href="/blog">blog list</a> by default, change the controller for the <code>'/'</code> route to <code>blog</code> in <code>config/routes.js</code></p>
