<h1>New Store</h1>
<p>Enter the store subdomain to sync with (e.g. mystore.myshopify.com)</p>
<form id="new-site" action="" method="post"  class="form form-horizontal">
	<div class="form-group">
		<div class="col-sm-12">
			<div class="input-group">
				<input type="text" name="site" class="text-right form-control" placeholder="mystore" /><span class="input-group-addon">.myshopify.com</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary navbar-btn">Connect <i class="fa fa-arrow-right-circle"></i></button>
		</div>
	</div>
</form>
